[Desktop Entry]
Type=Application
Exec=/home/angalia-hub/bin/start_angalia.sh
Hidden=false
NoDisplay=false
Name=Angalia Hub Sinatra App
Comment=Starts the Angalia Hub Sinatra Thin server
