%h2 About Angalia&trade;
%h5 Angalia&trade; is a Remote Elder Monitoring Hub.
%p
  Angalia&trade; was written by David Anderson in 2025 to provide an 
  automatic remote monitoring system for caregivers.
%p
  &emsp;
  %br
  &emsp;
  %br
  &emsp;
  %br
  %i
    Nothing more to say...
