%dl
  %dt= link_to( "meet on &raquo;", "/start_meet", { :method => :post, :title => "start video meeting" } )
  %dt= link_to( "meet off &raquo;", "/end_meet", { :method => :post, :title => "end video meeting" } )
  - if Angalia::Environ::DEBUG_MODE
    %dt= link_to( "webcam &raquo;", "/webcam_stream", { :title => "kitchen table cam" } )
  %dt= link_to( "status &raquo;", "/status", { :title => "view system status" } )

