%dl
  %dt= link_to( "meet on &raquo;", "/start_meet", { :method => :post, :title => "start video meeting" } )
  %dt= link_to( "meet off &raquo;", "/end_meet", { :method => :post, :title => "end video meeting" } )
  %dt= link_to( "livestream &raquo;", "/start_livestream",  { :title => "kitchen table cam livestream" } )
  %dt= link_to( "status &raquo;", "/status", { :title => "view system status" } )

