%h3  Welcome to Angalia&trade;
%p   
  Angalia allows authorized caregivers to remotely 
  monitor an elderly patient.
%br
%h6 
  Abilities: &ensp;
  %form{:action => "/start_meet", :method => "post", :style => "display:inline;"}
    %button{:type => "submit", :title => "Start video meeting"} Meeting on &raquo;
  &ensp; 
  %form{:action => "/end_meet", :method => "post", :style => "display:inline;"}
    %button{:type => "submit", :title => "End video meeting"} Meeting off &raquo;
  &ensp; 
  = link_to( "Webcam &raquo;", "/webcam_stream", { :title => "Monitoring webcam" } )
%h6 
  = link_to( "Status &raquo;", "/status", { :title => "View system status" } )
%br
%br
%br
%br
%i
  Note: This is a working demonstration of Angalia capabilities.

