%i.center &diams;&ensp;live webcam feed&ensp;&diams;
.webcam-container
  %img#webcam-stream{src: "/images/lily-of-the-valley.png", alt: "Angalia livestream is off"}

%h5 Welcome to Angalia&trade;
%p Allowing authorized caregivers to video-meet with a patient.
